body{
    background-color: #aaaaaa;
}
.bg-tematica{
    background-color: #00a09f;
}



/* ////////////////////////////////////////// */
/* ///////////Logo                            */
/* ////////////////////////////////////////// */
.logo{
	border-radius: 100%;
	margin-left: 10px;
    height: 70px;
}
/* ////////////////////////////////////////// */




/* ////////////////////////////////////////// */
/* //////////////Texto del nav                */
/* ////////////////////////////////////////// */
.size-text font:hover{
    background-color: white;
    color: black;
}
/* ////////////////////////////////////////// */




/* ////////////////////////////////////////// */
/* //////////////Formato de imagen de inicio  */
/* ////////////////////////////////////////// */
.image-start {
    margin-top: 90px;
	background-image:url('/images/cons.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	margin-bottom: 20px;
	height: 550px;
	width: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* ////////////////////////////////////////// */




/* ////////////////////////////////////////// */
/* /////////////////Titulo flotante           */
/* ////////////////////////////////////////// */
.title-float{
	position:fixed;
    width:130px;
    top:95px;
    background:#646464;
	opacity: 0.5;
    color:#FFF;
	border-end-end-radius: 25px;
	border-top-right-radius: 25px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
.format-text{
    font-size:23px;
    text-align:center;
}
/* ////////////////////////////////////////// */




/* ////////////////////////////////////////// */
/* ////////////Presentacion del index         */
/* ////////////////////////////////////////// */
.title{
    font-family: 'Titan One', cursive;
    font-size: 35px;
    border-bottom: solid;
    text-shadow: 2px 2px 2px #828282;
}
.presentation{
    font-family: 'PT Serif', serif;
    font-size: 18px;
    
}
.position-personality{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    margin-top: 10%;
    margin-left: 10%;
    width: 400px;
    border-radius: 20px;
    display: inline-block;
}
/* ////////////////////////////////////////// */




/* ////////////////////////////////////////// */
/* //////////////tarjetas de carrusel         */
/* ////////////////////////////////////////// */
.color-fondo{
    background: repeating-linear-gradient(-45deg, #00a09f, #00a09f 8px, white 8px, white 10px);
    border:solid #00a09f;
    width: 700px;
    border-radius: 20px;
}
.format-target-carousel{
    border: solid #00a09f;
    width: 300px;   
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.format-target-carousel h5{
    font-size: 20px;
}
.image-carousel{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 33%;
    margin-top: 10px;
    border: solid #00a09f;
}
/* ////////////////////////////////////////// */




/* ////////////////////////////////////////// */
/* //////////////Responsive index             */
/* ////////////////////////////////////////// */

/*1166 */
@media (max-width:80em){
    .color-fondo{
        width: 600px;
    }
    .format-target-carousel{
        width: 270px;   
        font-size: 15px;
    }
    .format-target-carousel h5{
        font-size: 20px;
    }
    .image-carousel{
        width: 80px;
        height: 80px;
        margin-left: 33%;
    }
} 
@media (max-width:70em){
    .format-target-carousel{
        width: 230px;   
        font-size: 12px;
    }
    .format-target-carousel h5{
        font-size: 18px;
    }
    .color-fondo{
        width: 510px;
    }
} 

/* 960px */
@media (max-width: 60em){
    .logo{
        border-radius: 100%;
        margin-left: 5px;
        height: 50px;
    }
    .size-text{
        font-size:80%;
        border-bottom: 1px solid white;
        color: black;
    }
    .image-start{
        margin-top: 70px;
    }
    .title-float{
        width: 100px;
        top: 80px;
        font-size: 20px;
    }
    .format-text{
        font-size: 90%;
    } 
    /* carousel */
    .format-target-carousel{
        width: 165px;   
        font-size: 9px;
    }
    .format-target-carousel h5{
        font-size: 12px;
    }
    .image-carousel{
        width: 60px;
        height: 60px;
        margin-left: 30%;
    }
    .color-fondo{
        width: 380px;
    }
}

/* 640px */
@media (max-width: 36em){

    .title-float{
        width: 80px;
        font-size: 15px;
        top: 78px;
    }
    .title{
        font-size:20px;
    }
    .position-personality{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        left: 18%;
        top: 50%;
        transform: translateY(-50%);
    }
    .presentation{
        font-size: 12px;
    }
    /* carousel */
    .format-target-carousel{
        width: 160px;   
        font-size: 9px;
    }
    .format-target-carousel h5{
        font-size: 12px;
    }
    .image-carousel{
        width: 50px;
        height: 50px;
        margin-left: 30%;
    }
    
}
/* ////////////////////////////////////////// */

